<div class="w-full max-w-xs">
  <div class="mb-4">
    <div class="text-lg">Add a new job to the queue: </div>
  </div>

  <%# <%= render "form", job: @job %>
  <%# <br> %>

  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="flex flex-col space-y-4">
      <% @available_jobs.each do |job| %>
        <%= button_to "Enqueue #{job.name}", { action: "create", params: { job_name: job.name } }, form_class: "", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <% end %>

      <%= button_to "💣", { action: "oh_boy" }, form_class: "", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  </div>

  <div>
    <%= link_to "Sidekiq Queue", sidekiq_web_path, class: "underline text-blue-600 hover:text-blue-800" %>
  </div>
</div>
